# Editor backup file
*~
*.swp

# Sphinx build directory
build
source/leuven/tier2_hardware/thinking_hardware/thinking_node_map_v2.pdf
source/leuven/tier1_hardware/breniac_hardware/breniac_node_map.pdf

# PDF documentation
PdfDocs
source/leuven/tier2_hardware/thinking_hardware/~$thinking_node_map_v2_centos7.xlsx
source/leuven/tier2_hardware/thinking_hardware/thinking_node_map_v2_centos7.pdf

# build script
build.sh

# direnv files
.envrc
