html[data-theme="light"] {
    --pst-color-primary: #d96c31;  /* VSC orange */
    --pst-color-secondary: #2989bc;  /* Haddock’s Sweater (VSC orange complementary) */
    --pst-color-link: var(--pst-color-secondary);
    --pst-color-link-hover: #f28e24;  /* VSC secondary orange */
    --pst-color-background: #ffffff;  /* actual white */
    --pst-color-on-background: #f9f9f9;  /* lighter VSC white */
    --pst-color-surface: #f5f5f5;  /* cards background */
    --pst-color-border: #dbdbdb;
    --pst-heading-color: var(--pst-color-light-text);
    --pst-color-accent: var(--pst-color-primary);
    --pst-color-table-row-hover-bg: #fcf1dd;  /* very light VSC yellow */
    --sd-color-card-border-hover: var(--pst-color-link-hover);
}

html[data-theme="dark"] {
    --pst-color-primary: #f28e24;  /* VSC secondary orange */
    --pst-color-secondary: #51cbda;  /* Sea serpent blue (VSC orange complementary) */
    --pst-color-link: var(--pst-color-secondary);
    --pst-color-link-hover: #f9bf19;  /* VSC bright orange */
    --pst-color-background: #282828;  /* darker VSC black */
    --pst-color-on-background: #383839;  /* VSC black */
    --pst-color-surface: #303030;  /* cards background */
    --pst-color-border: #4e4e4e;
    --pst-heading-color: var(--pst-color-dark-text);
    --pst-color-accent: var(--pst-color-primary);
    --pst-color-table-row-hover-bg: #3c282c;  /* very dark VSC brick */
    --sd-color-card-border-hover: var(--pst-color-link-hover);
}

/* background gradients */
html[data-theme="light"] .bd-sidebar-primary {
    background-color: #fcf1dd;  /* very light VSC yellow */
}
html[data-theme="light"] .bd-content {
    background-color: var(--pst-color-background);
}
@media (min-width: 960px) {
    html[data-theme="light"] .bd-container {
        background: var(--pst-color-background);
        /* light VSC yellow: #f8e2bb */
        background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(248, 226, 187) 50%, rgb(255, 255, 255) 80%, rgb(255, 255, 255) 100%)
    }
    html[data-theme="light"] .bd-sidebar-primary {
        background-color: transparent;
    }
}

html[data-theme="dark"] .bd-sidebar-primary {
    background-color: #3c282c;  /* very dark VSC brick */
}
html[data-theme="dark"] .bd-content {
    background-color: var(--pst-color-background);
}
@media (min-width: 960px) {
    html[data-theme="dark"] .bd-container {
        background: var(--pst-color-background);
        /* dark VSC brick: #673527 */
        background: linear-gradient(90deg, rgb(40, 40, 40) 0%, rgb(60, 40, 44) 50%, rgb(40, 40, 40) 80%, rgb(40, 40, 40) 100%)
    }
    html[data-theme="dark"] .bd-sidebar-primary {
        background-color: transparent;
    }
}

/* Text decorations on links and buttons*/
/* replace default underlines with dotted underline on hover only */
a,
a.nav-link,
html .sd-btn:hover {
    text-decoration: none;
}

a:hover,
a.nav-link:hover,
.toc-entry a.nav-link:hover,
nav.bd-links li > a:hover,
.bd-content .sd-tab-set > input:not(:checked, :focus-visible) + label:hover {
    text-decoration: underline dotted 1.5pt;
    text-decoration-skip-ink: auto;
}

/* make sphinx-design cards slightly non-transparent */
.sd-card {
    background-color: var(--pst-color-surface);
}

/* line numbers in codeblocks on transparent column */
html[data-theme="light"] .highlight span.linenos { background-color: transparent; }
html[data-theme="dark"] .highlight span.linenos { background-color: transparent; }

/* add space after icons in breadcrumb titles */
.breadcrumb-item > span.fas {
    margin-right: 0.3rem;
}

/* fix higlight table row under cursor */
.table tbody tr:hover {
    background-color: var(--pst-color-table-row-hover-bg);
}
